<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
		<!--<file value="c:\temp\hawkeye.log" />-->
		<file type="log4net.Util.PatternString">
				<converter>
					<name value="folder" />
					<type value="Hawkeye.Logging.log4net.SpecialFolderPatternConverter, Hawkeye.Core" />
				</converter>
				<conversionPattern value="%folder{CommonApplicationData}\Hawkeye\logs\Hawkeye.log" />
			</file>
		<appendToFile value="true" />
		<rollingStyle value="Date" />
		<datePattern value="yyyyMMdd" />
		<!-- one file per day -->
		<maxSizeRollBackups value="30" />
		<!-- We keep logs during 1 month -->
		<layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread, %-40.40logger] %-8level - %message%newline" />
		</layout>
	</appender>
	<root>
		<!--<level value="INFO"/>-->
		<level value="VERBOSE"/>
		<appender-ref ref="RollingFileAppender" />
	</root>
</log4net>